/.idea
.idea/
AEEEM/
PROMISE-backup-copy/
Papers/
defectlens-professional-template-complete.zip/
defectlens-professional-template-complete.zip
SRS/
PROMISE-backup-copy/
/PROMISE-backup-copy
UI Theme/
DefectLab-Updated-Component-Based.zip/
DefectLab-Updated-Component-Based.zip